{% extends 'common/base.html' %}
{% load cropping %}

{% block banner %}
    {% include 'common/generic_banner.html' %}
{% endblock %}

{% block content %}
    <section id="main_section" class="spotlights">
        {% for paragraph in product.description_paragraphs %}

            <section>

                {% if paragraph.image %}
                    <a class="image">
                        <img src="{% cropped_thumbnail paragraph 'cropping' %}" alt="">
                    </a>
                {% endif %}

                <div class="content">
                    <div class="inner">
                        {{ paragraph.text|safe|escape }}
                    </div>
                </div>

            </section>

        {% endfor %}
    </section>
{% endblock %}
