{% load cropping %}
<article style="background-image: url({{ product.image.url }});">

    <span class="image" style="display: none;">
        <img src="{% cropped_thumbnail product 'cropping' %}" alt="">
    </span>

    <header class="major">
        <h3><a href="{% url 'product-detail' product.slug %}" class="link">{{ product.name }}</a></h3>
        <p>{{ product.preview_description }}</p>
    </header>

    <a href="{% url 'product-detail' product.slug %}" class="link primary"></a>

</article>
